{% load static %}
<div class="header-main">
    <div class="container">
        <div class="row">
        
            <div class="col-lg-12">
            <div class="header-left ">
                <a href="/"><img src="{% static 'images/logo.png' %}"></a>
                <h2>What to do Next</h2>
            </div>
            <div class="header-right">
            <div class="search-bar">
                <input type="text" placeholder="Search Here...">
            </div>
            <div class="clearfix"></div>
            
            <div class="topnav" id="myTopnav">
              <a href="#" class="active">Resume Upload</a>
              <a href="#">Login</a>
              <a href="#">Register</a>
              <a href="#">About US</a>
              <a href="#">Contact US</a>
              <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                <i class="fa fa-bars"></i>
              </a>
            </div>
            </div>
                
                
            </div>
        </div>
    </div>
    </div>