{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="heading-main">
	<div class="container">
    	<div class="row">
        	<div class="col-lg-12">
        		<h1>Title main</h1>
        	</div>
        </div>
	</div>
</div>

<div class="center-main">
<div class="container">
    <div class="row">
        <div class="col-lg-12">
         	<div class="listing-job">
            	<a href="/jobprofile">
                <div class="image">
                <img src="{% static 'images/1.jpg' %}"></div>
                <h3>Post Name</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p></a>
                
            	<div class="clearfix"></div>
            </div>
            <div class="listing-job">
            	<a href="#">
                <div class="image">
                <img src="images/1.jpg"></div>
                <h3>Post Name</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p></a>
                
            	<div class="clearfix"></div>
            </div>
            <div class="listing-job">
            	<a href="#">
                <div class="image">
                <img src="images/1.jpg"></div>
                <h3>Post Name</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p></a>
                
            	<div class="clearfix"></div>
            </div>
            <div class="listing-job">
            	<a href="#">
                <div class="image">
                <img src="images/1.jpg"></div>
                <h3>Post Name</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p></a>
                
            	<div class="clearfix"></div>
            </div>
            <div class="listing-job">
            	<a href="#">
                <div class="image">
                <img src="images/1.jpg"></div>
                <h3>Post Name</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p></a>
                
            	<div class="clearfix"></div>
            </div>
            <div class="listing-job">
            	<a href="#">
                <div class="image">
                <img src="images/1.jpg"></div>
                <h3>Post Name</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p></a>
                
            	<div class="clearfix"></div>
            </div>
         
        </div>
        
         
        
    </div>
</div>
</div>
 

{%  endblock content %}

 
 

 
