{% load static %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Job Profile Portal</title>
    
<link href="{% static 'css/bootstrap-grid.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/bootstrap-reboot.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
