{% extends 'base.html' %} {% load static %} {% block content %}


<div class="center-main">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="bottom-4sec">
                    <div class="row">
                        <div class="col-lg-12">
                            <h2>Job Profiles of Job sectors</h2>
                        </div>
                    </div>
                    {% for obj in object_list %}
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="bottom-4sec-in">
                                <a href="/jobprofile"><img src="{{obj.thumbnail.url}}">
                                    <h3>{{ obj.title}}</h3>
                                    <p>{{ obj.overview }}</p>
                                </a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <div class="col-lg-3">
                <div class="login-sec">
                    <h2>Login to your account</h2>
                    <input type="text" placeholder="Username / Mobile No.">
                    <input type="password" placeholder="Password">
                    <a href="/register" class="register-new">Register</a>
                    <a href="forgot-password.html" class="forgot-pass">Forgot password?</a>


                    <button type="button" class="btn btn-primary login-btn" onclick="window.location.href = 'home-page.html';">Log in </button>
                </div>


                <div class="login-contact">
                    <h2>Contact Detail</h2>

                    <ul>
                        <li><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i> whattudonext@gmail.com</a></li>
                        <li><a href="#"><i class="fa fa-whatsapp" aria-hidden="true"></i> +91 8473894711</a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>


{% endblock content %}